<nav class="navbar navbar-expand-lg fixed-top nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" [routerLink]="['/presentation']">Self Order </a>
            </div>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Components</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a ngbDropdownItem [routerLink]="['/components']"><i class="nc-icon nc-tile-56"></i>All Components</a>
                        <a ngbDropdownItem [routerLink]="['/presentation']"><i class="nc-icon nc-settings"></i>Presentation</a>
                        <a ngbDropdownItem href="https://demos.creative-tim.com/paper-kit-2-pro-angular/#/documentation/introduction"><i class="nc-icon nc-bullet-list-67"></i>Documentation</a>
                    </div>
                </div>
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Sections</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="headers"><i class="nc-icon nc-tile-56"></i>&nbsp; Headers</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="features"><i class="nc-icon nc-settings"></i>&nbsp; Features</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="blogs"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; Blogs</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="teams"><i class="nc-icon nc-single-02"></i>&nbsp; Teams</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="projects"><i class="nc-icon nc-calendar-60"></i>&nbsp; Projects</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="pricing"><i class="nc-icon nc-money-coins"></i>&nbsp; Pricing</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="testimonials"><i class="nc-icon nc-badge"></i>&nbsp; Testimonials</a>
                        <a class="dropdown-item" [routerLink]="['/sections']" fragment="contact-us"><i class="nc-icon nc-mobile"></i>&nbsp; Contacts</a>
                    </div>
                </div>
                <div ngbDropdown class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" ngbDropdownToggle>Menue</div>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right dropdown-danger">
                        
                        <a class="dropdown-item" [routerLink]="['/examples/addproduct']"><i class="nc-icon nc-basket"></i>&nbsp; Groupe de Modificateur </a>
                        <a class="dropdown-item" [routerLink]="['/examples/addproduct']"><i class="nc-icon nc-basket"></i>&nbsp; Plat</a>
                        <a class="dropdown-item" [routerLink]="['/examples/addproduct']"><i class="nc-icon nc-basket"></i>&nbsp; Categorie</a>
                        <a class="dropdown-item" [routerLink]="['/examples/addproduct']"><i class="nc-icon nc-basket"></i>&nbsp; Menue</a>



                       
                    </div>
                </div>
               
            </ul>
        </div>
    </div>
</nav>
